.commentCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px 16px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.container {
  padding: 2px 16px;
  text-align: center;
  color: white;
  background: rgb(37, 37, 36);
  border-radius: 30px;
}
