.header img {
  /* position: absolute; */
}

.logo {
  font-size: 3em;
  color: red;
}

.mainNavigation {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.articlesList {
  list-style-type: none;
  text-align: center;
  color: white;
  border-style: solid;
  border-radius: 25px;
  background-color: black;
  border-block-color: red;

  padding: 30px;
}

.btn-group {
  background-color: black;
  font-size: 20px;
  margin-left: 10px;
  border: 1px solid;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 12px;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: white;
}

p {
  font-size: 20px;
}
