.header {
  text-align: left;
  border-style: solid;
}

.logo {
  font-size: 3em;
  color: red;
}

.mainNavigation {
  text-align: center;
}

.articlesList {
  list-style-type: none;
  text-align: center;
  color: white;
  border-style: solid;
  border-radius: 25px;
  background-color: black;

  padding: 30px;
}
.topicsList {
  list-style-type: none;
  text-align: center;
  color: white;
  border-style: solid;
  border-radius: 25px;
  background-color: black;

  padding: 30px;
}

.btn-group {
  background-color: black;
  margin-left: 10px;
  border: 1px solid;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a {
  color: white;
}
